/********************************************/
/* overall webiste styling rules and resets */
/********************************************/
body {
  color: #373d47;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 0.04rem;
  text-align: justify;
  background-color: #f7f9fc;
}

.main {
/*  padding: 1rem 9rem;*/
  padding: 3% 9%;
}



/******************/
/* header styling */
/******************/
.header {
  display: inline-block;
}
#avatar {
  float: left;
	height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-right: 40px;
  box-shadow: 1px 0.2px 1px 0.2px grey;
}
.site-info, .site-descr, nav { 
  display: inline;
  font-family: 'Exo 2', sans-serif;
}
.site-name, .site-descr {
  /*color: #515b6b;*/
  letter-spacing: 0.10em;
}
.site-name {
  font-weight: 600; 
}
/*.typewriter h6 {
  overflow: hidden;
  border-right: .15em solid #515b6b;
  white-space: nowrap;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(50, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to {border-color: transparent}
  50% {border-color: #515b6b;}
}*/
nav {
  float: right;
}
nav a {
  text-decoration: none;
  color: grey;
  margin: 0 10px;
}
nav a:hover {
  text-decoration: none;
  color: #545b9b;
}



/****************/
/* main content */
/****************/
.content {

}
.section {
  padding: 1rem 1.4rem;
}
.section h4 {
  margin-bottom: 1.8rem;
}

.my-btn {
  background-color: grey;
  border-color: grey;
}
.my-btn:hover {
  background-color: #545b9b;
}

/**********/
/* footer */
/**********/
footer {

}
.social-media-icons {
  margin: 1.5rem 1.5rem;
  text-align: center;
}
.social-media-icons a {
  padding: 0 1.2rem;
  color: #515b6b;
  font-size: 2.3rem;
}
.social-media-icons a:hover {
  text-decoration: none;
  color: #545b9b;
}
.list-item-align {
  display: inline-block;
}


/***************/
/* RWD styling */
/***************/
@media only screen and (max-width: 500px){
  body {
    font-size: 80%;
  }
	.main {
    padding: 1rem 1rem;
  }
  nav, #avatar {
    float: none;
  }
  #avatar {
    margin: 1rem auto;
    text-align: center;
    display: block;
  }
  .site-info, .site-descr, nav {
    display: block;
    text-align: center;
    letter-spacing: 0rem;
  }
  nav a {
    margin: 0 4px; 
  }
  .social-media-icons a {
  padding: 0 .2rem;
  }
  .section h4 {
    text-align: center;
  }
  .my-btn {
    margin: 0 auto;
    display: block;
  }
}
/*
@media only screen and (max-width: 800px){
  body {
    font-size: 92%;
  }
  nav {
        
    float: none;
  }
}
*/
